# Aviation Risk Analysis Project

Authors: Brian Woo, Evan Rosenbaum

## Overview

This project involves data cleaning, imputation, analysis, and visualization to generate insights for a business stakeholder. The goal is to determine the lowest risk aircraft for a company looking to expand into the aviation industry.

# Business Problem

## Stakeholder - US based (Domestic Flights)

The stakeholder for this project is the head of the new aviation division within the company.

### Key Business Questions

1. Which aircraft types have the lowest risk based on historical accident data?
2. What are the common causes of aircraft accidents?
3. How can the company use this information to make informed decisions about purchasing aircraft?

# Data Understanding and Analysis

## Source of Data

The dataset used for this project is from the National Transportation Safety Board (NTSB) and includes aviation accident data from 1962 to 2023. This dataset covers civil aviation accidents and selected incidents in the United States and international waters.

In [1]:
# Import standard libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import chi2_contingency

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Open the file in read mode and read lines
aviation_df = pd.read_csv('./data_files/AviationData.csv', encoding='latin-1')

In [3]:
# Changing the naming convention of columns
aviation_df.columns = aviation_df.columns.str.lower().str.replace('.', '_')
aviation_df.columns

Index(['event_id', 'investigation_type', 'accident_number', 'event_date',
       'location', 'country', 'latitude', 'longitude', 'airport_code',
       'airport_name', 'injury_severity', 'aircraft_damage',
       'aircraft_category', 'registration_number', 'make', 'model',
       'amateur_built', 'number_of_engines', 'engine_type', 'far_description',
       'schedule', 'purpose_of_flight', 'air_carrier', 'total_fatal_injuries',
       'total_serious_injuries', 'total_minor_injuries', 'total_uninjured',
       'weather_condition', 'broad_phase_of_flight', 'report_status',
       'publication_date'],
      dtype='object')

In [4]:
# gets rid of duplicate rows
aviation_df.drop_duplicates(inplace=True)

In [5]:
aviation_df.shape

(88889, 31)

In [6]:
aviation_df.head()

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [7]:
aviation_df.tail()

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [8]:
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88889 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  object
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                34382 non-null  object
 7   longitude               34373 non-null  object
 8   airport_code            50249 non-null  object
 9   airport_name            52790 non-null  object
 10  injury_severity         87889 non-null  object
 11  aircraft_damage         85695 non-null  object
 12  aircraft_category       32287 non-null  object
 13  registration_number     87572 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur_built           88787 non-null  object
 17  number_of_engines       82805 non-null  float64
 18  engine_type             81812 non-null  object
 19  far_description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose_of_flight       82697 non-null  object
 22  air_carrier             16648 non-null  object
 23  total_fatal_injuries    77488 non-null  float64
 24  total_serious_injuries  76379 non-null  float64
 25  total_minor_injuries    76956 non-null  float64
 26  total_uninjured         82977 non-null  float64
 27  weather_condition       84397 non-null  object
 28  broad_phase_of_flight   61724 non-null  object
 29  report_status           82508 non-null  object
 30  publication_date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.7+ MB

In [9]:
# Percent of missing values in each column
aviation_df.isna().sum() * 100 / len(aviation_df)

event_id                   0.000000
investigation_type         0.000000
accident_number            0.000000
event_date                 0.000000
location                   0.058500
country                    0.254250
latitude                  61.320298
longitude                 61.330423
airport_code              43.469946
airport_name              40.611324
injury_severity            1.124999
aircraft_damage            3.593246
aircraft_category         63.677170
registration_number        1.481623
make                       0.070875
model                      0.103500
amateur_built              0.114750
number_of_engines          6.844491
engine_type                7.961615
far_description           63.974170
schedule                  85.845268
purpose_of_flight          6.965991
air_carrier               81.271023
total_fatal_injuries      12.826109
total_serious_injuries    14.073732
total_minor_injuries      13.424608
total_uninjured            6.650992
weather_condition          5.053494
broad_phase_of_flight     30.560587
report_status              7.178616
publication_date          15.492356
dtype: float64

### Missing values

In [10]:
unique_missing_vals = {}
for i in aviation_df.columns:
    unique_missing_vals[i] = len(aviation_df[i].unique())

unique_values= pd.DataFrame(list(unique_missing_vals.items()), columns = ['Column', 'unique_val'])
unique_values["missing_values"] = aviation_df.isna().sum().values
unique_values

                    Column  unique_val  missing_values
0                 event_id       87951               0
1       investigation_type           2               0
2          accident_number       88863               0
3               event_date       14782               0
4                 location       27759              52
5                  country         220             226
6                 latitude       25593           54507
7                longitude       27157           54516
8             airport_code       10376           38640
9             airport_name       24872           36099
10         injury_severity         110            1000
11         aircraft_damage           5            3194
12       aircraft_category          16           56602
13     registration_number       79106            1317
14                    make        8238              63
15                   model       12319              92
16           amateur_built           3             102
17       number_of_engines           8            6084
18             engine_type          14            7077
19         far_description          32           56866
20                schedule           4           76307
21       purpose_of_flight          27            6192
22             air_carrier       13591           72241
23    total_fatal_injuries         126           11401
24  total_serious_injuries          51           12510
25    total_minor_injuries          58           11933
26         total_uninjured         380            5912
27       weather_condition           5            4492
28   broad_phase_of_flight          13           27165
29           report_status       17076            6381
30        publication_date        2925           13771

**Review**

This shows the number of unique values and the number of missing values in each column.

## Descriptive Statistics

In [11]:
aviation_df.describe()

,number_of_engines,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

### Analysis of Statistics

- There are large outlier inside of all of the injury metrics. However, these outliers are important and give us valuable information about the riskiness of the aircraft.

- We should not remove these outliers.

In [12]:
aviation_df.mode().T

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
event_id,20001212X19172,20001214X45071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
investigation_type,Accident,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
accident_number,CEN22FA424,CEN22LA149,CEN22LA346,CEN23MA034,DCA22LA135,DCA22LA201,DCA22WA089,DCA22WA130,DCA22WA158,DCA22WA167,...,ERA22LA103,ERA22LA119,ERA22LA364,ERA22LA379,GAA22WA241,WPR22FA309,WPR22LA143,WPR22LA201,WPR23LA041,WPR23LA045
event_date,1982-05-16,1984-06-30,2000-07-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
location,"ANCHORAGE, AK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
latitude,332739N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
longitude,0112457W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
airport_code,NONE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
airport_name,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
injury_severity,Non-Fatal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aircraft_damage,Substantial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aircraft_category,Airplane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
registration_number,NONE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
make,Cessna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
model,152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
amateur_built,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number_of_engines,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
engine_type,Reciprocating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
far_description,091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
schedule,NSCH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
purpose_of_flight,Personal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
air_carrier,Pilot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_fatal_injuries,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_serious_injuries,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_minor_injuries,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_uninjured,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
weather_condition,VMC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
broad_phase_of_flight,Landing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
report_status,Probable Cause,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
publication_date,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data Cleaning

In [13]:
def column_info(dataframe, column):
    """
    Provides a view into the row information provided in each column
    -
    Input:
    dataframe : Pandas DataFrame
    columns_list: list 
    -
    Output:
        Prints:
            - A preview of the first 5 values in the column.
            - Value counts of the column.
            - The percentage of missing values in the column.
    """
    preview = dataframe[column].head()
    value_counts = dataframe[column].value_counts()
    percent_missing = dataframe[column].isna().sum() * 100 / len(dataframe)
    
    print("Preview of the first 5 rows in the column:")
    print(preview)
    print("\nValue counts of the column:")
    print(value_counts)
    print("\nPercentage of missing values in the column:")
    print(f"{percent_missing:.2f}%")

## Normalizing Casing for Columns

## Filtering the Data

For the following columns, we are normalizing the casing to account of duplicated entries.

## location and country

In [14]:
aviation_df['country'] = aviation_df['country'].str.lower().str.strip()
aviation_df = aviation_df[aviation_df['country'] == 'united states']

## Analysis for Columns to Drop

Below is a list of columns with more than 50% missing values

- event_id
- accident_number
- latitude
- longitude
- airport_code
- airport_name
- registration_number
- far_description
- schedule
- air_carrier
- publication_date

It is better to drop these columns because there are too many missing data, and it would be unreliable to assume the data with its central tendencies/assumptions. 

Additionally, these data points do not help provide further context to stakeholders based on risk defined above.

In [15]:
# drop the columns that are not useful for analysis
columns_to_drop = [
    'event_id',
    'accident_number',
    'latitude',
    'longitude',
    'airport_code',
    'airport_name',
    'registration_number',
    'far_description',
    'schedule',
    'air_carrier',
    'publication_date',
]

aviation_df.drop(columns=columns_to_drop, inplace=True)

In [16]:
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82248 entries, 0 to 88888
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   investigation_type      82248 non-null  object
 1   event_date              82248 non-null  object
 2   location                82237 non-null  object
 3   country                 82248 non-null  object
 4   injury_severity         82140 non-null  object
 5   aircraft_damage         80269 non-null  object
 6   aircraft_category       28154 non-null  object
 7   make                    82227 non-null  object
 8   model                   82210 non-null  object
 9   amateur_built           82227 non-null  object
 10  number_of_engines       80373 non-null  float64
 11  engine_type             79225 non-null  object
 12  purpose_of_flight       79819 non-null  object
 13  total_fatal_injuries    71594 non-null  float64
 14  total_serious_injuries  70873 non-null  float64
 15  total_minor_injuries    71519 non-null  float64
 16  total_uninjured         77243 non-null  float64
 17  weather_condition       81603 non-null  object
 18  broad_phase_of_flight   61158 non-null  object
 19  report_status           79637 non-null  object
dtypes: float64(5), object(15)
memory usage: 13.2+ MB

## Analysis for Dropping Row NaN's

### make and model

We want to ensure there is a make and model for every row element. If there is no make and mode, we cannot give a recommendation to the business.

In [17]:
# Drop missing values inside of the 'make' column
aviation_df.dropna(subset=['make', 'model'], inplace=True)

## Analysis for Columns to Replace NaN's

### Columns with no pre-existing unknown category

For each of these columns, there are no pre-existing unknown or other categories. 

As such, we filled the NaN values with an 'unknown' string.

In [18]:
columns_to_replace_with_unknown = [
    'country',
    'injury_severity', 
    'aircraft_damage',
    'make',
    'model',
    'amateur_built',
    'engine_type',
    'purpose_of_flight',
    'weather_condition'
]

aviation_df[columns_to_replace_with_unknown] = aviation_df[columns_to_replace_with_unknown].fillna

In [19]:
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82197 entries, 0 to 88888
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   investigation_type      82197 non-null  object
 1   event_date              82197 non-null  object
 2   location                82186 non-null  object
 3   country                 82197 non-null  object
 4   injury_severity         82197 non-null  object
 5   aircraft_damage         82197 non-null  object
 6   aircraft_category       28127 non-null  object
 7   make                    82197 non-null  object
 8   model                   82197 non-null  object
 9   amateur_built           82197 non-null  object
 10  number_of_engines       80333 non-null  float64
 11  engine_type             82197 non-null  object
 12  purpose_of_flight       82197 non-null  object
 13  total_fatal_injuries    71552 non-null  float64
 14  total_serious_injuries  70832 non-null  float64
 15  total_minor_injuries    71477 non-null  float64
 16  total_uninjured         77197 non-null  float64
 17  weather_condition       82197 non-null  object
 18  broad_phase_of_flight   61117 non-null  object
 19  report_status           79587 non-null  object
dtypes: float64(5), object(15)
memory usage: 13.2+ MB

### Columns with pre-existing unknown category (UNK, Unknown, Other)

In [20]:
# columns_to_replace_with_unknown = [
#     'location', 
#     'country',
#     'injury_severity', 
#     'aircraft_damage',
#     'make',
#     'model',
#     'amateur_built',
#     'engine_type',
#     'purpose_of_flight',
#     'weather_condition'
# ]

# aviation_df[columns_to_replace_with_unknown] = aviation_df[columns_to_replace_with_unknown].fillna

## Imputing Numerical Column Values

In [21]:
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82197 entries, 0 to 88888
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   investigation_type      82197 non-null  object
 1   event_date              82197 non-null  object
 2   location                82186 non-null  object
 3   country                 82197 non-null  object
 4   injury_severity         82197 non-null  object
 5   aircraft_damage         82197 non-null  object
 6   aircraft_category       28127 non-null  object
 7   make                    82197 non-null  object
 8   model                   82197 non-null  object
 9   amateur_built           82197 non-null  object
 10  number_of_engines       80333 non-null  float64
 11  engine_type             82197 non-null  object
 12  purpose_of_flight       82197 non-null  object
 13  total_fatal_injuries    71552 non-null  float64
 14  total_serious_injuries  70832 non-null  float64
 15  total_minor_injuries    71477 non-null  float64
 16  total_uninjured         77197 non-null  float64
 17  weather_condition       82197 non-null  object
 18  broad_phase_of_flight   61117 non-null  object
 19  report_status           79587 non-null  object
dtypes: float64(5), object(15)
memory usage: 13.2+ MB